@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 144, 0);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@supports (-webkit-text-stroke: 1px rgb(0, 144, 0)) {
  .stroke {
    -webkit-text-stroke: 1px rgb(0, 144, 0);
    color: transparent;
    text-shadow: none;
  }
}
@supports not (-webkit-text-stroke: 1px rgb(0, 144, 0)) {
  .stroke {
    color: #000;
    text-shadow: -1px -1px 0 rgb(0, 144, 0), 1px -1px 0 rgb(0, 144, 0), -1px 1px 0 rgb(0, 144, 0), 1px 1px 0 rgb(0, 144, 0);
  }
}
.at-header {
  width: 100%;
  position: fixed;
  top: 2vw;
  left: 0;
  z-index: 99;
  transition: opacity 0.5s ease, visibility 0.5s ease, top 0.5s ease;
}
.at-header-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw;
}
.at-header-inner .logo {
  padding: 0.5vw 1vw;
  background: rgb(0, 144, 0);
}
.at-header-inner .logo p {
  font-size: 1vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #000;
}
.at-header-inner ul {
  display: flex;
  gap: 2.4vw;
}
.at-header-inner ul li {
  cursor: pointer;
}
.at-header-inner ul li a {
  font-size: 1vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.at-header.hide {
  top: 4vw;
  opacity: 0;
  visibility: hidden;
}

.container_wide .section01 {
  height: 50vw;
  position: relative;
  overflow: hidden;
}
.container_wide .section01 .b-intro-txt {
  width: 100%;
  height: 100%;
  line-height: 0.9;
  position: absolute;
  z-index: -1;
  font-size: 58vw;
  font-family: "Koulen", cursive;
  color: #000;
  letter-spacing: -2vw;
}
.container_wide .section01-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.container_wide .section01-inner .float-txt-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container_wide .section01-inner .float-txt-wrap .float-txt {
  line-height: 1;
  display: flex;
  gap: 2vw;
  position: absolute;
}
.container_wide .section01-inner .float-txt-wrap .float-txt span {
  display: inline-block;
  font-size: 12vw;
  font-family: "Koulen", cursive;
  animation: float 10s ease-in-out infinite alternate;
  color: rgb(0, 144, 0);
}
@keyframes float {
  0% {
    transform: translateY(0) rotate(3deg);
  }
  25% {
    transform: translateY(2.5vw);
  }
  50% {
    transform: translateY(0) rotate(6deg);
  }
  75% {
    transform: translateY(2.5vw);
  }
  100% {
    transform: translateY(0) rotate(3deg);
  }
}
.container_wide .section01-inner .float-txt-wrap .float-txt:not(:first-child) span {
  color: #000;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(1) {
  z-index: 49;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(1) span {
  animation-delay: 0.1s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(2) {
  z-index: 48;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(2) span {
  animation-delay: 0.2s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(3) {
  z-index: 47;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(3) span {
  animation-delay: 0.3s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(4) {
  z-index: 46;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(4) span {
  animation-delay: 0.4s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(5) {
  z-index: 45;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(5) span {
  animation-delay: 0.5s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(6) {
  z-index: 44;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(6) span {
  animation-delay: 0.6s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(7) {
  z-index: 43;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(7) span {
  animation-delay: 0.7s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(8) {
  z-index: 42;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(8) span {
  animation-delay: 0.8s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(9) {
  z-index: 41;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(9) span {
  animation-delay: 0.9s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(10) {
  z-index: 40;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(10) span {
  animation-delay: 1s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(11) {
  z-index: 39;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(11) span {
  animation-delay: 1.1s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(12) {
  z-index: 38;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(12) span {
  animation-delay: 1.2s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(13) {
  z-index: 37;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(13) span {
  animation-delay: 1.3s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(14) {
  z-index: 36;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(14) span {
  animation-delay: 1.4s;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(15) {
  z-index: 35;
}
.container_wide .section01-inner .float-txt-wrap .float-txt:nth-child(15) span {
  animation-delay: 1.5s;
}
.container_wide .section02-inner .rl-banner {
  height: 4vw;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0, 144, 0, 0.5);
  border-left: 0;
  border-right: 0;
}
.container_wide .section02-inner .rl-banner-inner {
  width: 100%;
  display: flex;
  position: absolute;
}
.container_wide .section02-inner .rl-banner-inner p {
  margin: 0 0.5vw;
  white-space: nowrap;
  font-size: 3vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.container_wide .section02-inner .content-box {
  display: flex;
  border-bottom: 1px solid rgba(0, 144, 0, 0.5);
}
.container_wide .section02-inner .content-box > div {
  flex: 1;
  padding: 2.5vw;
}
.container_wide .section02-inner .content-box .left-column {
  border-right: 1px solid rgba(0, 144, 0, 0.5);
}
.container_wide .section02-inner .content-box .left-column .tit-box p {
  line-height: 0.8;
  display: flex;
  gap: 2vw;
}
.container_wide .section02-inner .content-box .left-column .tit-box p span {
  font-size: 12vw;
  font-family: "Koulen", cursive;
}
.container_wide .section02-inner .content-box .left-column .star {
  text-align: right;
}
.container_wide .section02-inner .content-box .right-column {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
.container_wide .section02-inner .content-box .right-column .top-column {
  display: flex;
  justify-content: space-between;
}
.container_wide .section02-inner .content-box .right-column .top-column ul {
  display: flex;
  gap: 0.7vw;
}
.container_wide .section02-inner .content-box .right-column .top-column ul li {
  height: 2vw;
  line-height: 2vw;
  padding: 0 0.8vw;
  border: 1px solid rgba(0, 144, 0, 0.5);
  border-radius: 5vw;
  cursor: pointer;
}
.container_wide .section02-inner .content-box .right-column .top-column ul li a {
  display: block;
  pointer-events: none;
  font-size: 1vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 144, 0);
}
.container_wide .section02-inner .content-box .right-column .top-column ul li.active {
  background: rgb(0, 144, 0);
  border: none;
}
.container_wide .section02-inner .content-box .right-column .top-column ul li.active a {
  color: #000;
}
.container_wide .section02-inner .content-box .right-column .top-column div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 1vw;
}
.container_wide .section02-inner .content-box .right-column .top-column div .square {
  width: 1vw;
  height: 1vw;
  transform: rotate(45deg);
  background: rgb(0, 144, 0);
}
.container_wide .section02-inner .content-box .right-column .top-column div span {
  transform: scale(-1);
  writing-mode: vertical-lr;
  font-size: 1.5vw;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.container_wide .section02-inner .content-box .right-column .bottom-column {
  position: realtive;
}
.container_wide .section02-inner .content-box .right-column .bottom-column ul {
  width: 100%;
}
.container_wide .section02-inner .content-box .right-column .bottom-column ul li {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.container_wide .section02-inner .content-box .right-column .bottom-column ul li p, .container_wide .section02-inner .content-box .right-column .bottom-column ul li span {
  font-size: calc(1vw + 4px);
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}
.container_wide .section02-inner .content-box .right-column .bottom-column ul li span {
  display: block;
  text-align: right;
}
.container_wide .section02-inner .content-box .right-column .bottom-column ul li div {
  display: flex;
}
.container_wide .section02-inner .content-box .right-column .bottom-column ul li div span {
  width: 30%;
}
.container_wide .section02-inner .content-box .right-column .bottom-column ul li div p {
  width: 70%;
  text-align: right;
}
.container_wide .section02-inner .content-box .right-column .bottom-column ul li.active {
  position: static;
  opacity: 1;
  visibility: visible;
}
.container_wide .section03-inner .intro-txt-box {
  height: 50vw;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 6vw;
}
.container_wide .section03-inner .intro-txt-box p {
  line-height: 0.8;
  font-size: 12vw;
  font-family: "Koulen", cursive;
}
.container_wide .section03-inner .intro-txt-box p span {
  display: block;
}
.container_wide .section03-inner .intro-txt-box p:not(:first-child) {
  text-align: right;
}
.container_wide .section03-inner .sticky-wrap {
  position: relative;
  padding: 10vw 0 0 0;
}
.container_wide .section03-inner .sticky-wrap .work {
  height: 50vw;
  text-align: center;
}
.container_wide .section03-inner .sticky-wrap .work p {
  line-height: 1;
  font-size: 12vw;
  font-family: "Koulen", cursive;
}
.container_wide .section03-inner .sticky-wrap .work > span {
  display: block;
  font-size: calc(1vw + 4px);
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}
.container_wide .section03-inner .sticky-wrap .work a span {
  height: 2.5vw;
  line-height: 2.6vw;
  display: inline-block;
  padding: 0 2vw;
  margin: 2vw 0 0 0;
  font-size: calc(1vw + 4px);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #000;
  background: rgb(0, 144, 0);
}
.container_wide .section03-inner .sticky-wrap .sticky-box {
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: -1;
}
.container_wide .section03-inner .sticky-wrap .sticky-box > div {
  width: 58vw;
  height: 36vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: calc(1vw + 10px);
}
.container_wide .section03-inner .sticky-wrap .sticky-box > div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(9, 30, 9, 0.7);
}
.container_wide .section04 {
  overflow: hidden;
}
.container_wide .section04-inner .rl-banner {
  height: 4vw;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0, 144, 0, 0.5);
  border-left: 0;
  border-right: 0;
}
.container_wide .section04-inner .rl-banner-inner {
  width: 100%;
  display: flex;
  position: absolute;
}
.container_wide .section04-inner .rl-banner-inner p {
  margin: 0 0.5vw;
  white-space: nowrap;
  font-size: 3vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.container_wide .section04-inner .float-txt-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 44vw;
}
.container_wide .section04-inner .float-txt-wrap .float-txt {
  line-height: 1;
  display: flex;
  gap: 2vw;
  position: absolute;
}
.container_wide .section04-inner .float-txt-wrap .float-txt span {
  display: inline-block;
  font-size: 12vw;
  font-family: "Koulen", cursive;
  animation: float 10s ease-in-out infinite alternate;
  color: rgb(0, 144, 0);
}
@keyframes float {
  0% {
    transform: translateY(0) rotate(3deg);
  }
  25% {
    transform: translateY(2.5vw);
  }
  50% {
    transform: translateY(0) rotate(6deg);
  }
  75% {
    transform: translateY(2.5vw);
  }
  100% {
    transform: translateY(0) rotate(3deg);
  }
}
.container_wide .section04-inner .float-txt-wrap .float-txt:not(:first-child) span {
  color: #000;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(1) {
  z-index: 49;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(1) span {
  animation-delay: 0.1s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(2) {
  z-index: 48;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(2) span {
  animation-delay: 0.2s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(3) {
  z-index: 47;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(3) span {
  animation-delay: 0.3s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(4) {
  z-index: 46;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(4) span {
  animation-delay: 0.4s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(5) {
  z-index: 45;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(5) span {
  animation-delay: 0.5s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(6) {
  z-index: 44;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(6) span {
  animation-delay: 0.6s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(7) {
  z-index: 43;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(7) span {
  animation-delay: 0.7s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(8) {
  z-index: 42;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(8) span {
  animation-delay: 0.8s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(9) {
  z-index: 41;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(9) span {
  animation-delay: 0.9s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(10) {
  z-index: 40;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(10) span {
  animation-delay: 1s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(11) {
  z-index: 39;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(11) span {
  animation-delay: 1.1s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(12) {
  z-index: 38;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(12) span {
  animation-delay: 1.2s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(13) {
  z-index: 37;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(13) span {
  animation-delay: 1.3s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(14) {
  z-index: 36;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(14) span {
  animation-delay: 1.4s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(15) {
  z-index: 35;
}
.container_wide .section04-inner .float-txt-wrap .float-txt:nth-child(15) span {
  animation-delay: 1.5s;
}
.container_wide .section04-inner .float-txt-wrap .float-txt span {
  letter-spacing: calc(-1vw + 10px);
}
.container_wide .section04-inner .info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw 2vw;
}
.container_wide .section04-inner .info-box p {
  font-size: calc(1vw + 4px);
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1vw;
}
.container_wide .section04-inner .info-box p span {
  display: block;
}
.container_wide .section04-inner .info-box ul {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.container_wide .section04-inner .info-box ul li {
  background: rgb(0, 144, 0);
  border-radius: 5vw;
}
.container_wide .section04-inner .info-box ul li a {
  height: 2vw;
  line-height: 2vw;
  display: block;
  padding: 0 1vw;
  font-size: 1vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #000;
}